<div class="card-block ">
    <div class="row align-items-center justify-content-center card-active m-t-10 m-b-0">
        {% set display_results = mapped_results[activity_type] %}
        <div class="col-3">
            {% if start != 0 %}
                <h6 class="text-center f-18"><a href="index?{{request.args|prev_page(display_results|length)|urlencode}}" class="m-r-5">Previous</a></h6>
            {% endif %}
        </div>
        <div class="col-3">
            {% if (start + n_per_page) < display_results|length %}
                <h6 class="text-center f-18"><a href="index?{{request.args|next_page(display_results|length)|urlencode}}" class="m-r-5">Next</a></h6>
                <h6 class="text-center f-18">(<a href="index?{{request.args|show_all(display_results|length)|urlencode}}" class="m-r-5">Show All</a>)</h6>
            {% endif %}
        </div>
    </div>
</div>
